<div class="w-screen min-h-[93vh] bg-[--bg]">
  <div
    style="
      background-image: url(../../assets/images/landing-bg.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    "
    class="h-[93vh] mx-auto flex justify-between items-center gap-10 relative"
  >
    <div class="p-5 md:p-10 lg:p-24 w-[100%]">
      <h4 class="text-4xl md:text-6xl font-bold text-white md:leading-[70px]">
        Welcome to <span class="text-[--border-orange]">Spox,</span> Redefining
        <span class="text-[--border-orange]">Fan Engagement</span>
      </h4>

      <p class="text-white mt-5 leading-7">
        At Spox,
        <span class="text-[--border-orange]"
          >we’re revolutionizing the way fans interact with their favorite
          sports teams.</span
        >
        Traditional sports entertainment has long been confined to passive
        experiences like
        <span class="text-[--border-orange]"
          >watching games, buying merchandise, and betting</span
        >—which is often high-risk and leaves fans with little to no ownership
        over their teams. We believe it's time for a change.
      </p>
    </div>
    <div class="w-[100%] md:flex justify-end items-end h-full hidden -mb-32">
      <img
        src="../../assets/images/iPhone16.png"
        alt=""
        class="h-[70%] lg:h-[90%]"
      />
    </div>
  </div>

  <!-- <div
    class="flex md:justify-center items-center overflow-x-auto gap-7 lg:gap-10 mx-5 md:mx-10 lg:mx-24 mt-5 py-7 border-t border-b border-[#E5E7EB]"
  >
    <img src="../../assets/svgs/airbnb.svg" alt="Airbnb" class="text-white" />
    <img src="../../assets/svgs/hubspot.svg" alt="HubSpot" class="text-white" />
    <img src="../../assets/svgs/google.svg" alt="Google" class="text-white" />
    <img
      src="../../assets/svgs/microsoft.svg"
      alt="Microsoft"
      class="text-white"
    />
    <img src="../../assets/svgs/walmart.svg" alt="Walmart" class="text-white" />
    <img src="../../assets/svgs/fedex.svg" alt="FedEx" class="text-white" />
  </div> -->

  <div
    class="px-5 md:px-10 lg:px-24 mt-5 py-7 flex flex-col items-center gap-4"
  >
    <h5 class="font-medium text-4xl text-[--border-orange]">Our Mission</h5>

    <p
      class="text-sm md:text-base md:text-center text-[--font] leading-7 w-full md:w-[70vw] lg:w-[47vw]"
    >
      We aim to bridge the gap between sports and financial empowerment by
      giving fans a stake in their favorite teams. Spox is a first-of-its-kind
      platform where fans can buy, sell, and trade digital team tokens that
      fluctuate in value based on real-world team performance. Our mission is to
      provide fans with a new level of engagement, entertainment, and investment
      opportunities.
    </p>
  </div>

  <div class="px-5 md:px-10 lg:px-24 mt-5 py-7 flex flex-col gap-4">
    <h5 class="font-medium text-4xl text-[--border-orange]">
      The Problem with Traditional Sports Entertainment
    </h5>

    <div>
      <div class="flex items-center gap-2">
        <img src="../../assets/svgs/star-icon.svg" alt="" />
        <p class="font-medium text-[--border-orange] leading-[40px]">
          Limited Engagement
        </p>
      </div>
      <p class="text-[--font] text-sm w-full md:w-[400px]">
        Fans are mostly spectators. Their involvement is limited to cheering,
        watching, and buying merchandise.
      </p>
    </div>

    <div>
      <div class="flex items-center gap-2">
        <img src="../../assets/svgs/cube-icon.svg" alt="" />
        <p class="font-medium text-[--border-orange] leading-[40px]">
          No Ownership
        </p>
      </div>
      <p class="text-[--font] text-sm w-full md:w-[400px]">
         Fans have no tangible way of sharing in their team's success. They
        can't directly benefit from a team’s victories or overall performance.
      </p>
    </div>

    <div>
      <div class="flex items-center gap-2">
        <img src="../../assets/svgs/cube-2-icon.svg" alt="" />
        <p class="font-medium text-[--border-orange] leading-[40px]">
          Betting Pitfalls
        </p>
      </div>
      <p class="text-[--font] text-sm w-full md:w-[400px]">
        Sports betting is a high-risk activity with addictive tendencies,
        offering little control or sense of investment beyond the immediate
        outcome of a game.
      </p>
    </div>
  </div>

  <div
    class="px-5 md:px-10 lg:px-24 mt-5 py-7 flex flex-col items-center gap-4"
  >
    <h5 class="font-medium text-4xl text-[--border-orange]">Our Solution</h5>

    <p
      class="text-sm md:text-base md:text-center text-[--font] leading-7 w-full md:w-[70vw] lg:w-[47vw]"
    >
      <span class="text-[--border-orange]">Spox</span> offers an exciting
      alternative that allows fans to go beyond just supporting their team; now,
      they can invest in them. We’re introducing sports tokens, a groundbreaking
      way for fans to engage with teams as if they were shareholders in a
      company. <br />
      <br />Here’s how
      <span class="text-[--border-orange]">Spox</span> transforms the fan
      experience
    </p>
  </div>

  <div
    class="px-5 md:px-10 lg:px-24 mt-5 py-7 grid grid-cols-1 md:grid-cols-3 place-items-center gap-10"
  >
    <div class="flex flex-col gap-2 items-center">
      <img src="../../assets/svgs/buy-tokens-icon.svg" alt="" />
      <p
        class="font-medium text-[--border-orange] leading-[40px] md:text-2xl text-center"
      >
        Buy Tokens
      </p>
      <p class="text-[--font] text-sm text-center">
        Fans can purchase tokens tied to their favorite teams, effectively
        investing in the team’s success
      </p>
    </div>
    <div class="flex flex-col gap-2 items-center">
      <img src="../../assets/svgs/track-team-icon.svg" alt="" />
      <p
        class="font-medium text-[--border-orange] leading-[40px] md:text-2xl text-center"
      >
        Track Team Performance
      </p>
      <p class="text-[--font] text-sm text-center">
        The value of these tokens is determined by real-world performance
        metrics such as wins, points earned, or seasonal achievements.
      </p>
    </div>
    <div class="flex flex-col gap-2 items-center">
      <img src="../../assets/svgs/profit-icon.svg" alt="" />
      <p
        class="font-medium text-[--border-orange] leading-[40px] md:text-2xl text-center"
      >
        Profit from Performance
      </p>
      <p class="text-[--font] text-sm text-center">
        As teams perform well, their token values rise, allowing fans to sell
        their tokens at a profit. You don't just cheer for victories—you profit
        from them.
      </p>
    </div>
    <div class="hidden md:block"></div>
    <div class="flex flex-col gap-2 items-center">
      <img src="../../assets/svgs/trade-fans-icon.svg" alt="" />
      <p
        class="font-medium text-[--border-orange] leading-[40px] md:text-2xl text-center"
      >
        Trade with Other Fans
      </p>
      <p class="text-[--font] text-sm text-center">
        Spox offers a dynamic marketplace where fans can buy, sell, and trade
        tokens, creating an exciting, community-driven financial ecosystem.
      </p>
    </div>
    <div class="hidden md:block"></div>
  </div>

  <div class="px-5 md:px-10 lg:px-24 mt-5 py-7 flex flex-col gap-4">
    <h5 class="font-medium text-4xl text-[--border-orange]">Why Spox?</h5>

    <div>
      <div class="flex items-center gap-2">
        <img src="../../assets/svgs/star-icon.svg" alt="" />
        <p class="font-medium text-[--border-orange] leading-[40px]">
          A Unique Investment Opportunity
        </p>
      </div>
      <p class="text-[--font] text-sm w-full md:w-[400px]">
        Just like stock markets, the sports token market allows you to invest in
        teams and potentially earn profits based on their performance
      </p>
    </div>

    <div>
      <div class="flex items-center gap-2">
        <img src="../../assets/svgs/cube-icon.svg" alt="" />
        <p class="font-medium text-[--border-orange] leading-[40px]">
          Increased Fan Involvement
        </p>
      </div>
      <p class="text-[--font] text-sm w-full md:w-[400px]">
        With Spox, fans are no longer just spectators—they’re stakeholders. You
        have a financial and emotional investment in your team's success.
      </p>
    </div>

    <div>
      <div class="flex items-center gap-2">
        <img src="../../assets/svgs/cube-2-icon.svg" alt="" />
        <p class="font-medium text-[--border-orange] leading-[40px]">
          Safe, Fun, and Accessible
        </p>
      </div>
      <p class="text-[--font] text-sm w-full md:w-[400px]">
        Unlike traditional betting, Spox is designed to be a safe, engaging, and
        transparent platform for all fans, providing entertainment with
        financial rewards in a controlled and responsible way
      </p>
    </div>
  </div>

  <div
    class="px-5 md:px-10 lg:px-24 mt-5 md:mt-0 flex flex-col md:flex-row justify-between items-center gap-7"
  >
    <div class="md:w-[50%]">
      <h4 class="text-4xl md:text-5xl font-bold text-[--border-orange]">
        Join the Revolution
      </h4>

      <p class="text-white mt-5 leading-7">
        <span class="text-[--border-orange]">Spox</span>
        is more than a platform—it’s a movement. We're transforming how fans
        engage with the sports they love. Sign up today to start trading team
        tokens and take your fandom to the next level!
      </p>

      <div class="flex flex-col items-center md:items-start gap-2">
        <p class="text-lg font-medium text-[--font]">Get the App</p>
        <div class="flex flex-col md:flex-row md:items-center gap-5">
          <button
            class="flex items-center gap-2 bg-black py-2 px-3 rounded-lg border border-white w-[11rem] h-[3.5rem]"
          >
            <img src="../../assets/images/playstore.png" alt="" class="h-10" />
            <p class="text-[10px] text-white text-left">
              Download on<br />
              <span class="text-sm font-semibold">Google Play</span>
            </p>
          </button>

          <button
            class="flex items-center gap-3 bg-black py-2 px-3 rounded-lg border border-white w-[11rem] h-[3.5rem]"
          >
            <img src="../../assets/svgs/apple-icon.svg" alt="" class="h-10" />
            <p class="text-[10px] text-white text-left">
              Download on<br />
              <span class="text-sm font-semibold">Apple Store</span>
            </p>
          </button>
        </div>
      </div>
    </div>

    <img
      src="../../assets/images/iPhone16.png"
      alt=""
      class="hidden md:block h-[40rem]"
    />
  </div>

  <div class="py-10">
    <div class="flex flex-col items-center gap-2">
      <h5 class="text-xl lg:text-4xl font-medium text-[--font]">Mobile App</h5>
      <div class="w-[5rem] border-b-4 border-[--font-gold] rounded-3xl"></div>
    </div>

    <div class="flex flex-col items-center mt-10">
      <img src="../../assets/images/iPhone16.png" alt="" class="md:h-[50rem]" />
    </div>

    <div class="flex flex-col items-start md:items-center gap-5 px-5">
      <p
        class="text-[--font] text-xl md:text-2xl md:text-center md:w-[40vw] lg:w-[38vw] leading-relaxed md:leading-loose"
      >
        The revolution of crypto and sports sports trading before your eyes
      </p>
      <p
        class="text-[--font] text-base md:text-center md:w-[40vw] lg:w-[38vw] leading-relaxed md:leading-loose"
      >
        Download the Spox Mobile App to access the Crypto and Sports Trading
        with the best services
      </p>
    </div>

    <div
      class="flex flex-col md:flex-row justify-center items-center gap-5 mt-5 md:mt-10"
    >
      <button
        class="flex items-center gap-2 bg-black py-2 px-3 rounded-lg border border-white w-[11rem] h-[3.5rem]"
      >
        <img src="../../assets/images/playstore.png" alt="" class="h-10" />
        <p class="text-xs text-white text-left">
          Download on<br />
          <span class="text-base font-semibold">Google Play</span>
        </p>
      </button>

      <button
        class="flex items-center gap-3 bg-black py-2 px-3 rounded-lg border border-white w-[11rem] h-[3.5rem]"
      >
        <img src="../../assets/svgs/apple-icon.svg" alt="" class="h-10" />
        <p class="text-xs text-white text-left">
          Download on<br />
          <span class="text-base font-semibold">Apple Store</span>
        </p>
      </button>
    </div>
  </div>

  <div class="py-10 flex flex-col items-center gap-4">
    <h5 class="text-lg lg:text-3xl font-medium text-[--font]">Support</h5>
    <div class="flex items-center justify-center gap-5">
      <p
        class="text-sm md:text-base text-[--font] cursor-pointer hover:text-[--border-orange]"
      >
        Learn more
      </p>
      <p
        class="text-sm md:text-base text-[--font] cursor-pointer hover:text-[--border-orange]"
      >
        Contact us
      </p>
    </div>

    <div class="flex items-center justify-center gap-5">
      <img src="../../assets/svgs/x.svg" alt="" class="cursor-pointer h-6" />
      <img
        src="../../assets/svgs/facebook.svg"
        alt=""
        class="cursor-pointer h-6"
      />
      <img
        src="../../assets/svgs/instagram.svg"
        alt=""
        class="cursor-pointer h-6"
      />
      <img
        src="../../assets/svgs/linkedin.svg"
        alt=""
        class="cursor-pointer h-6"
      />
      <img
        src="../../assets/svgs/whatsapp.svg"
        alt=""
        class="cursor-pointer h-6"
      />
    </div>

    <p class="text-xs md:text-sm text-[--font] mt-5">
      © 2024 <span class="text-[--font-gold]">Spox</span>, All rights reserved.
    </p>
  </div>
</div>
