<div class="w-screen min-h-[100vh] bg-[--bg] p-3">
  <div
    style="
      background-image: url(../../assets/images/landing-bg.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    "
    class="px-3 py-9 md:py-24 mx-auto flex flex-col gap-5"
  >
    <h1 class="text-white font-bold text-5xl text-center leading-[3.5rem]">
      <span class="text-[--font-gold]">Spors</span>,<br />
      Unique Trading Platform <span class="text-[--font-gold]">#1</span>
    </h1>

    <p class="text-white font-medium text-center text-lg">
      We <span class="text-[--font-gold]">simplify</span> &
      <span class="text-[--font-gold]">convert easily</span>
    </p>
    <p class="text-white font-medium text-center text-lg -my-2">
      Trading unique services for your <br />independence
    </p>
    <p class="text-white font-medium text-center text-lg">
      Not your regular <span class="text-[--font-gold]">trading</span> not your
      <span class="text-[--font-gold]">crypto</span> !
    </p>

    <div
      class="flex flex-col md:flex-row-reverse gap-5 md:gap-10 lg;gap-20 items-center mt-10 mx-auto"
    >
      <button
        (click)="trade()"
        class="bg-[--font-gold] text-black text-sm font-medium rounded-xl w-[10rem] h-[3.5rem]"
      >
        Start Trading
      </button>

      <div class="flex flex-col md:flex-row gap-5 max-[450px]:mt-5">
        <button
          class="flex items-center gap-2 bg-black py-2 px-3 rounded-lg border border-white w-[11rem] h-[3.5rem]"
        >
          <img src="../../assets/images/playstore.png" alt="" class="h-10" />
          <p class="text-xs text-white text-left">
            Download on<br />
            <span class="text-base font-semibold">Google Play</span>
          </p>
        </button>

        <button
          class="flex items-center gap-3 bg-black py-2 px-3 rounded-lg border border-white w-[11rem] h-[3.5rem]"
        >
          <img src="../../assets/svgs/apple-icon.svg" alt="" class="h-10" />
          <p class="text-xs text-white text-left">
            Download on<br />
            <span class="text-base font-semibold">Apple Store</span>
          </p>
        </button>
      </div>
    </div>

    <img src="../../assets/svgs/rep.svg" alt="" class="md:w-[50vh] m-auto" />
  </div>

  <div class="mx-auto py-10 flex flex-col gap-20">
    <div class="flex justify-center gap-10 md:gap-40 lg:gap-52">
      <div class="flex flex-col items-center">
        <h4 class="md:text-xl font-semibold text-[--font]">Total Volume</h4>
        <p class="text-2xl md:text-3xl font-medium text-[--font-gold]">1M+</p>
      </div>
      <div class="flex flex-col items-center">
        <h4 class="md:text-xl font-semibold text-[--font]">Wallet Connected</h4>
        <p class="text-2xl md:text-3xl font-medium text-[--font-gold]">10K+</p>
      </div>
    </div>

    <div class="flex justify-center gap-10 md:gap-40 lg:gap-52">
      <div class="flex flex-col items-center">
        <h4 class="md:text-xl font-semibold text-[--font]">
          Total Transactions
        </h4>
        <p class="text-2xl md:text-3xl font-medium text-[--font-gold]">100K+</p>
      </div>
      <div class="flex flex-col items-center">
        <h4 class="md:text-xl font-semibold text-[--font]">Supported Chains</h4>
        <p class="text-2xl md:text-3xl font-medium text-[--font-gold]">EVM</p>
      </div>
    </div>
  </div>

  <div class="md:mx-auto p-3 flex flex-col gap-10 md:items-center py-10">
    <h1
      class="text-5xl md:text-6xl text-[--font] md:text-center md:w-[28rem] font-bold"
    >
      <span class="text-[--font-gold]">Spors</span>, dead function
    </h1>

    <p
      class="text-[--font] text-xl md:text-center md:w-[55vw] lg:w-[40vw] leading-relaxed md:leading-loose"
    >
      First <span class="text-[--font-gold]">decentralized function</span> in
      the world that allows you to send your crypto assets in the event of
      <span class="text-[--font-gold]">death</span>
    </p>
    <p
      class="text-[--font] text-base md:text-center md:w-[55vw] lg:w-[40vw] leading-relaxed md:leading-loose"
    >
      Define the cryptos to send, the time thanks to the
      <span class="text-[--font-gold]">gas fee insurance</span> even if you have
      no gas fees when the cryptos are going to be sent, security is added
      because our contract will send you gas fees. You can cancel the signing of
      the contract will
      <span class="text-[--font-gold]">send you gas fees</span>. You can cancel
      the signing of the contract at any time! You can set an address of an EVM
      compatible CEX (0x....) if your tokens are listed there we recommend the
      most popular ones but the best is
      <span class="text-[--font-gold]">wallet non-custodial address</span> !
    </p>

    <div class="flex items-center justify-center gap-3 md:gap-7">
      <button
        (click)="trade()"
        class="bg-[--font-gold] text-black text-sm font-medium rounded-xl w-[10rem] h-[3.5rem]"
      >
        Download App
      </button>

      <button
        class="bg-[--font-gold] text-black text-sm font-medium rounded-xl w-[10rem] h-[3.5rem]"
      >
        Watch Video
      </button>
    </div>
  </div>

  <div
    class="md:mx-auto p-3 flex flex-col lg:flex-row gap-5 md:gap-14 items-center justify-center py-16 bg-[--bg2]"
  >
    <div class="flex flex-col items-center lg:items-start">
      <div
        class="flex flex-col items-center lg:items-start gap-3 md:gap-4 border-b border-[--border-color] py-3"
      >
        <h4 class="md:text-2xl font-medium text-[--font]">
          Wallet users Crypto
        </h4>
        <p class="text-2xl md:text-3xl font-medium text-[--font-gold]">30M+</p>
      </div>

      <div
        class="flex flex-col items-center lg:items-start gap-3 md:gap-4 border-b border-[--border-color] py-3"
      >
        <h4 class="md:text-2xl font-medium text-[--font]">Total Volume Lost</h4>
        <p class="text-2xl md:text-3xl font-medium text-[--font-gold]">10B+</p>
      </div>

      <div
        class="flex flex-col items-center lg:items-start gap-3 md:gap-4 border-b border-[--border-color] py-3"
      >
        <h4 class="md:text-2xl font-medium text-[--font]">
          Number of Potential Users
        </h4>
        <p class="text-2xl md:text-3xl font-medium text-[--font-gold]">1B+</p>
      </div>
    </div>
    <div>
      <iframe
        src="https://www.youtube.com/embed/j4M47qLTeJ4?si=i6MkefMLu4Pi114M"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        class="w-full h-[16rem] md:w-[30rem] md:h-[20rem] rounded-xl"
      ></iframe>
    </div>
  </div>

  <div class="py-10">
    <div class="flex flex-col items-center gap-2">
      <h5 class="text-xl lg:text-4xl font-medium text-[--font]">
        Top up & Trade
      </h5>
      <div class="w-[5rem] border-b-4 border-[--font-gold] rounded-3xl"></div>
    </div>

    <div class="flex flex-col items-center mt-10">
      <img src="../../assets/svgs/cards.svg" alt="" class="md:w-[40rem]" />
    </div>

    <div class="flex flex-col items-start md:items-center gap-5 mt-14">
      <p
        class="text-[--font] text-xl md:text-2xl md:text-center md:w-[55vw] lg:w-[40vw] leading-relaxed md:leading-loose"
      >
        Recharge your account with our prepaid
        <span class="text-[--font-gold]">Spors recharge</span> cards & spend
        your crypto assets with your integrated
        <span class="text-[--font-gold]">virtual Spors card</span> !
      </p>
      <p
        class="text-[--font] text-base md:text-center md:w-[55vw] lg:w-[40vw] leading-relaxed md:leading-loose"
      >
        Top up your non-custodial
        <span class="text-[--font-gold]">Spors Wallet</span>, world exclusive,
        directly with a prepaid card available from our partner merchants or on
        the e-shop!<br />
        This avoids going through an exchange and provides access to crypto in
        many countries that
        <span class="text-[--font-gold]">only use cash</span> !
      </p>
    </div>

    <div
      class="flex flex-col md:flex-row justify-center items-center gap-5 mt-5 md:mt-10"
    >
      <button
        class="flex items-center gap-2 bg-black py-2 px-3 rounded-lg border border-white w-[11rem] h-[3.5rem]"
      >
        <img src="../../assets/images/playstore.png" alt="" class="h-10" />
        <p class="text-xs text-white text-left">
          Download on<br />
          <span class="text-base font-semibold">Google Play</span>
        </p>
      </button>

      <button
        class="flex items-center gap-3 bg-black py-2 px-3 rounded-lg border border-white w-[11rem] h-[3.5rem]"
      >
        <img src="../../assets/svgs/apple-icon.svg" alt="" class="h-10" />
        <p class="text-xs text-white text-left">
          Download on<br />
          <span class="text-base font-semibold">Apple Store</span>
        </p>
      </button>
    </div>
  </div>

  <div class="mt-5">
    <div class="flex flex-col items-center gap-2">
      <h5 class="text-xl lg:text-4xl font-medium text-[--font]">
        Why Choose <span class="text-[--font-gold]">Spors</span>?
      </h5>
      <div class="w-[5rem] border-b-4 border-[--font-gold] rounded-3xl"></div>
    </div>
    <div
      class="flex flex-row items-center md:justify-center gap-5 py-10 overflow-x-auto no-scrollbar"
    >
      <div
        class="min-w-[85vw] max-w-[85vw] md:min-w-[33%] md:max-w-[33%] lg:min-w-[20rem] lg:max-w-[20rem] h-[28rem] flex flex-col items-center justify-between p-5 bg-[--card-bg] border-y-2 border-[--border-orange] rounded-2xl"
      >
        <h5 class="text-[--font] text-center">
          <span class="text-[--font-gold]">Spors</span> Topup
        </h5>
        <img src="../../assets/svgs/crypto.svg" alt="" />
        <p class="text-[--font] text-xs lg:text-sm text-center">
          Buy, Sell, transfer, tokens directly from Spors Transfer with
          <span class="text-[--font-gold]">Spors Wallet</span> !
        </p>
      </div>
      <div
        class="min-w-[85vw] max-w-[85vw] md:min-w-[33%] md:max-w-[33%] lg:min-w-[20rem] lg:max-w-[20rem] h-[28rem] flex flex-col items-center justify-between p-5 bg-[--card-bg] border-y-2 border-[--border-orange] rounded-2xl"
      >
        <h5 class="text-[--font] text-center">
          Trade <span class="text-[--font-gold]">Crypto</span> &
          <span class="text-[--font-gold]">Sports</span>
        </h5>
        <img src="../../assets/svgs/crypto-design.svg" alt="" />
        <p class="text-[--font] text-xs lg:text-sm text-center">
          Spors enables users to trade both cryptocurrencies and
          <span class="text-[--font-gold]">sports assets</span>. Unlike
          traditional platforms, Spors offers a unique experience by allowing
          you to invest in sports teams, and events, blending
          <span class="text-[--font-gold]">finance</span> and sports
          <span class="text-[--font-gold]">innovation</span>.
        </p>
      </div>
      <div
        class="min-w-[85vw] max-w-[85vw] md:min-w-[33%] md:max-w-[33%] lg:min-w-[20rem] lg:max-w-[20rem] h-[28rem] flex flex-col items-center justify-between p-5 bg-[--card-bg] border-y-2 border-[--border-orange] rounded-2xl"
      >
        <h5 class="text-[--font] text-center">
          <span class="text-[--font-gold]">Cancel</span> and
          <span class="text-[--font-gold]">Pause</span> Trades
        </h5>
        <img src="../../assets/svgs/crypto.svg" alt="" />
        <p class="text-[--font] text-xs lg:text-sm text-center">
          Control your trades effectively by canceling
          <span class="text-[--font-gold]">ongoing transactions</span> or
          pausing them temporarily, allowing you to
          <span class="text-[--font-gold]">manage risk</span> and
          <span class="text-[--font-gold]">optimize trading</span> strategies
          efficiently.
        </p>
      </div>
    </div>
  </div>

  <div class="py-10">
    <div class="flex flex-col items-center gap-2">
      <h5 class="text-xl lg:text-4xl font-medium text-[--font]">Mobile App</h5>
      <div class="w-[5rem] border-b-4 border-[--font-gold] rounded-3xl"></div>
    </div>

    <div class="flex flex-col items-center mt-10">
      <img src="../../assets/svgs/mobile-ui.svg" alt="" class="md:h-[45rem]" />
    </div>

    <div class="flex flex-col items-start md:items-center gap-5 mt-10">
      <p
        class="text-[--font] text-xl md:text-2xl md:text-center md:w-[40vw] lg:w-[38vw] leading-relaxed md:leading-loose"
      >
        The revolution of crypto and sports sports trading before your eyes
      </p>
      <p
        class="text-[--font] text-base md:text-center md:w-[40vw] lg:w-[38vw] leading-relaxed md:leading-loose"
      >
        Download the Spors Mobile App to access the Crypto and Sports Trading
        with the best services
      </p>
    </div>

    <div
      class="flex flex-col md:flex-row justify-center items-center gap-5 mt-5 md:mt-10"
    >
      <button
        class="flex items-center gap-2 bg-black py-2 px-3 rounded-lg border border-white w-[11rem] h-[3.5rem]"
      >
        <img src="../../assets/images/playstore.png" alt="" class="h-10" />
        <p class="text-xs text-white text-left">
          Download on<br />
          <span class="text-base font-semibold">Google Play</span>
        </p>
      </button>

      <button
        class="flex items-center gap-3 bg-black py-2 px-3 rounded-lg border border-white w-[11rem] h-[3.5rem]"
      >
        <img src="../../assets/svgs/apple-icon.svg" alt="" class="h-10" />
        <p class="text-xs text-white text-left">
          Download on<br />
          <span class="text-base font-semibold">Apple Store</span>
        </p>
      </button>
    </div>
  </div>

  <div class="py-10 flex flex-col items-center gap-4">
    <h5 class="text-lg lg:text-3xl font-medium text-[--font]">Support</h5>
    <div class="flex items-center justify-center gap-5">
      <p class="text-sm md:text-base text-[--font] cursor-pointer">Demo</p>
      <p
        class="text-sm md:text-base text-[--font] cursor-pointer"
        (click)="openSupport()"
      >
        Contact us
      </p>
    </div>

    <p class="text-xs md:text-sm text-[--font] mt-5">
      © 2024 <span class="text-[--font-gold]">Spors</span>, All rights reserved.
    </p>
  </div>
</div>
