<div class="w-screen min-h-[100vh] bg-[--bg] p-3">
  <div
    style="
      background-image: url(../../assets/images/landing-bg.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    "
    class="px-3 py-9 md:py-24 mx-auto flex flex-col gap-5"
  >
    <h1 class="text-white font-bold text-5xl text-center leading-[3.5rem]">
      Welcome to <span class="text-[--font-gold]">Spox</span><br />
      Where Sports and <span class="text-[--font-gold]">Trading</span> Collide!
    </h1>

    <p class="text-white text-center text-lg w-full md:w-[50vw] mx-auto">
      <span class="text-[--font-gold]">Spox</span> is a platform that tokenizes
      sports team performance, allowing fans to buy, hold and sell assets that
      appreciate in value based on real-time team performance and market demand.
    </p>

    <div class="flex flex-col md:flex-row gap-5 max-[450px]:mt-16 mx-auto">
      <button
        class="flex items-center gap-2 bg-black py-2 px-3 rounded-lg border border-white w-[11rem] h-[3.5rem]"
      >
        <img src="../../assets/images/playstore.png" alt="" class="h-10" />
        <p class="text-xs text-white text-left">
          Download on<br />
          <span class="text-base font-semibold">Google Play</span>
        </p>
      </button>

      <button
        class="flex items-center gap-3 bg-black py-2 px-3 rounded-lg border border-white w-[11rem] h-[3.5rem]"
      >
        <img src="../../assets/svgs/apple-icon.svg" alt="" class="h-10" />
        <p class="text-xs text-white text-left">
          Download on<br />
          <span class="text-base font-semibold">Apple Store</span>
        </p>
      </button>
    </div>

    <img
      src="../../assets/images/iPhone16Pro.png"
      alt=""
      class="hidden md:block md:w-[65vw] m-auto -mt-32"
    />
  </div>

  <div class="mx-auto py-10 flex flex-col gap-20">
    <div class="flex justify-center gap-10 md:gap-40 lg:gap-52">
      <div class="flex flex-col items-center">
        <h4 class="md:text-xl font-semibold text-[--font]">
          No of Registered Users
        </h4>
        <p class="text-2xl md:text-4xl font-medium text-[--font-gold]">100+</p>
      </div>
      <div class="flex flex-col items-center">
        <h4 class="md:text-xl font-semibold text-[--font]">
          Total Transactions
        </h4>
        <p class="text-2xl md:text-4xl font-medium text-[--font-gold]">10K+</p>
      </div>
    </div>
  </div>

  <h5 class="text-xl lg:text-4xl font-medium text-[--font] text-center mt-4">
    How <span class="text-[--font-gold]">Spox</span> Works
  </h5>

  <div class="w-full mx-auto py-10 flex flex-col gap-20">
    <div
      class="grid grid-cols-1 md:grid-cols-2 gap-5 md:gap-8 mx-auto w-full md:w-[80vw] lg:w-[65vw] xl:w-[60vw]"
    >
      <div class="h-[20rem] bg-[#24211B] rounded-2xl p-7 space-y-5">
        <img src="../../assets/svgs/Icons-feature.svg" alt="" class="h-16" />

        <p class="text-white font-semibold text-lg">Create Your Account</p>
        <p class="text-white">
          Sign up and complete a quick verification process to start trading.
        </p>
      </div>
      <div class="h-[20rem] bg-[#24211B] rounded-2xl p-7 space-y-5">
        <img
          src="../../assets/svgs/Icons-feature (1).svg"
          alt=""
          class="h-16"
        />

        <p class="text-white font-semibold text-lg">Fund Your Wallet</p>
        <p class="text-white">
          Deposit funds via fiat or cryptocurrency and get ready to trade.
        </p>
      </div>
      <div class="h-[20rem] bg-[#24211B] rounded-2xl p-7 space-y-5">
        <img
          src="../../assets/svgs/Icons-feature (2).svg"
          alt=""
          class="h-16"
        />

        <p class="text-white font-semibold text-lg">Buy, Sell, Trade</p>
        <p class="text-white">
          Select your favorite team tokens, monitor their performance, and trade
          strategically to maximize profits.
        </p>
      </div>
      <div class="h-[20rem] bg-[#24211B] rounded-2xl p-7 space-y-5">
        <img
          src="../../assets/svgs/Icons-feature (3).svg"
          alt=""
          class="h-16"
        />

        <p class="text-white font-semibold text-lg">Earn Rewards</p>
        <p class="text-white">
          Active traders qualify for exciting airdrops, bonuses, and exclusive
          features.
        </p>
      </div>
    </div>
  </div>

  <div class="pt-10 bg-[--bg2] px-3">
    <div class="flex flex-col items-center gap-2">
      <h5 class="text-xl lg:text-4xl font-medium text-[--font]">
        Why Choose <span class="text-[--font-gold]">Spox</span>?
      </h5>
      <div class="w-[5rem] border-b-4 border-[--font-gold] rounded-3xl"></div>
    </div>
    <div
      class="grid grid-cols-1 sm:grid-cols-2 justify-center gap-7 sm:gap-5 md:gap-10 mx-auto w-full md:w-[70vw] lg:w-[65vw] xl:w-[50vw] py-10"
    >
      <div
        class="h-[28rem] flex flex-col items-center justify-between p-5 bg-[--card-bg] border-y-2 border-[--border-orange] rounded-2xl"
      >
        <h5 class="text-[--font] text-center">Real-Time Trading</h5>
        <img src="../../assets/svgs/real-time.svg" alt="" class="h-[50%]" />
        <p class="text-[--font] text-xs lg:text-sm text-center">
          Trade tokens live during matches and profit from real-time performance
          metrics.
        </p>
      </div>

      <div
        class="h-[28rem] flex flex-col items-center justify-between p-5 bg-[--card-bg] border-y-2 border-[--border-orange] rounded-2xl"
      >
        <h5 class="text-[--font] text-center">Rewards for Activity</h5>
        <img src="../../assets/svgs/rewards.svg" alt="" class="h-[50%]" />
        <p class="text-[--font] text-xs lg:text-sm text-center">
          Engage actively and earn rewards like airdrops and bonuses.
        </p>
      </div>

      <div
        class="h-[28rem] flex flex-col items-center justify-between p-5 bg-[--card-bg] border-y-2 border-[--border-orange] rounded-2xl"
      >
        <h5 class="text-[--font] text-center">Community Engagement</h5>
        <img src="../../assets/svgs/ce.svg" alt="" class="h-[50%]" />
        <p class="text-[--font] text-xs lg:text-sm text-center">
          Join discussions, share strategies, and compete with fellow fans.
        </p>
      </div>

      <div
        class="h-[28rem] flex flex-col items-center justify-between p-5 bg-[--card-bg] border-y-2 border-[--border-orange] rounded-2xl"
      >
        <h5 class="text-[--font] text-center">Secure & Transparent</h5>
        <img src="../../assets/svgs/st.svg" alt="" class="h-[50%]" />
        <p class="text-[--font] text-xs lg:text-sm text-center">
          Powered by blockchain for secure and tamper-proof trading.
        </p>
      </div>
    </div>
  </div>

  <div
    class="md:mx-auto p-3 flex flex-col lg:flex-row gap-5 md:gap-14 items-center justify-center py-16 bg-[--bg2]"
  >
    <!-- <div class="flex flex-col items-center lg:items-start">
      <div
        class="flex flex-col items-center lg:items-start gap-3 md:gap-4 border-b border-[--border-color] py-3"
      >
        <h4 class="md:text-2xl font-medium text-[--font]">
          Wallet users Crypto
        </h4>
        <p class="text-2xl md:text-3xl font-medium text-[--font-gold]">30M+</p>
      </div>

      <div
        class="flex flex-col items-center lg:items-start gap-3 md:gap-4 border-b border-[--border-color] py-3"
      >
        <h4 class="md:text-2xl font-medium text-[--font]">Total Volume Lost</h4>
        <p class="text-2xl md:text-3xl font-medium text-[--font-gold]">10B+</p>
      </div>

      <div
        class="flex flex-col items-center lg:items-start gap-3 md:gap-4 border-b border-[--border-color] py-3"
      >
        <h4 class="md:text-2xl font-medium text-[--font]">
          Number of Potential Users
        </h4>
        <p class="text-2xl md:text-3xl font-medium text-[--font-gold]">1B+</p>
      </div>
    </div> -->
    <div>
      <iframe
        src="https://www.youtube.com/embed/j4M47qLTeJ4?si=i6MkefMLu4Pi114M"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        class="w-[80vw] md:w-[70vw] lg:w-[65vw] xl:w-[50vw] h-[16rem] sm:h-[35rem] md:h-[28rem] rounded-xl"
      ></iframe>
    </div>
  </div>

  <div class="py-10">
    <div class="flex flex-col items-center gap-2">
      <h5 class="text-xl lg:text-4xl font-medium text-[--font]">Mobile App</h5>
      <div class="w-[5rem] border-b-4 border-[--font-gold] rounded-3xl"></div>
    </div>

    <div class="flex flex-col items-center mt-10">
      <img src="../../assets/images/iPhone16.png" alt="" class="md:h-[45rem]" />
    </div>

    <div class="flex flex-col items-start md:items-center gap-5">
      <p
        class="text-[--font] text-xl md:text-2xl md:text-center md:w-[40vw] lg:w-[38vw] leading-relaxed md:leading-loose"
      >
        The revolution of crypto and sports sports trading before your eyes
      </p>
      <p
        class="text-[--font] text-base md:text-center md:w-[40vw] lg:w-[38vw] leading-relaxed md:leading-loose"
      >
        Download the Spox Mobile App to access the Crypto and Sports Trading
        with the best services
      </p>
    </div>

    <div
      class="flex flex-col md:flex-row justify-center items-center gap-5 mt-5 md:mt-10"
    >
      <button
        class="flex items-center gap-2 bg-black py-2 px-3 rounded-lg border border-white w-[11rem] h-[3.5rem]"
      >
        <img src="../../assets/images/playstore.png" alt="" class="h-10" />
        <p class="text-xs text-white text-left">
          Download on<br />
          <span class="text-base font-semibold">Google Play</span>
        </p>
      </button>

      <button
        class="flex items-center gap-3 bg-black py-2 px-3 rounded-lg border border-white w-[11rem] h-[3.5rem]"
      >
        <img src="../../assets/svgs/apple-icon.svg" alt="" class="h-10" />
        <p class="text-xs text-white text-left">
          Download on<br />
          <span class="text-base font-semibold">Apple Store</span>
        </p>
      </button>
    </div>
  </div>

  <!-- <app-testimonials></app-testimonials> -->

  <div class="py-10 flex flex-col items-center gap-4">
    <h5 class="text-lg lg:text-3xl font-medium text-[--font]">Support</h5>
    <div class="flex items-center justify-center gap-5">
      <p
        class="text-sm md:text-base text-[--font] cursor-pointer hover:text-[--border-orange]"
      >
        Demo
      </p>
      <p
        class="text-sm md:text-base text-[--font] cursor-pointer hover:text-[--border-orange]"
        [routerLink]="['/about']"
      >
        About Spox
      </p>
      <p
        class="text-sm md:text-base text-[--font] cursor-pointer hover:text-[--border-orange]"
        (click)="openSupport()"
      >
        Contact us
      </p>
    </div>

    <p class="text-xs md:text-sm text-[--font] mt-5">
      © 2024 <span class="text-[--font-gold]">Spox</span>, All rights reserved.
    </p>
  </div>
</div>
