<div
  class="grid grid-cols-3 items-center px-5 md:px-10 lg:px-24 py-3 bg-[--bg]"
>
  <img
    src="../../assets/svgs/spox-icon.svg"
    alt="logo"
    class="w-28 cursor-pointer"
    [routerLink]="['/']"
  />

  <div class="flex items-center justify-center gap-5">
    <p
      [routerLink]="['/']"
      (click)="navigateBar('')"
      [ngClass]="
        currentRoute === '' ? 'text-[--border-orange]' : 'text-[--font]'
      "
      class="text-xs md:text-sm cursor-pointer hover:text-[--border-orange]"
    >
      Home
    </p>
    <p
      [ngClass]="
        currentRoute === '/about' ? 'text-[--border-orange]' : 'text-[--font]'
      "
      class="text-xs md:text-sm cursor-pointer hover:text-[--border-orange]"
      [routerLink]="['/about']"
      (click)="navigateBar('/about')"
    >
      About us
    </p>
  </div>

  <div></div>
</div>
