<div
  class="flex justify-between md:grid md:grid-cols-3 items-center px-5 md:px-10 lg:px-24 py-3 bg-[--bg]"
>
  <img
    src="../../assets/svgs/spox-icon.svg"
    alt="logo"
    class="w-28 cursor-pointer"
    [routerLink]="['/']"
  />

  <div class="flex justify-end items-center md:justify-center gap-5 w-full">
    <p
      [routerLink]="['/']"
      (click)="navigateBar('')"
      [ngClass]="
        currentRoute === '' ? 'text-[--border-orange]' : 'text-[--font]'
      "
      class="text-xs md:text-sm cursor-pointer hover:text-[--border-orange]"
    >
      Home
    </p>
    <p
      [ngClass]="
        currentRoute === '/learn-more'
          ? 'text-[--border-orange]'
          : 'text-[--font]'
      "
      class="text-xs md:text-sm cursor-pointer hover:text-[--border-orange]"
      [routerLink]="['/learn-more']"
      (click)="navigateBar('/learn-more')"
    >
      Learn more
    </p>
  </div>

  <div></div>
</div>
